<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
     <link rel="shortcut icon" href="https://camo.githubusercontent.com/25d1c6e2d9c3e3f5de6ddb4815c1cf2078dd4931/68747470733a2f2f63646e302e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f6e6c696e652d73686f7070696e672d332f37382f53686f7070696e675f69636f6e735f766563746f722d31312d3531322e706e67"/>
    
    <title>Your Perfect Lip Product</title>
    
      <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/grayscale.css" rel="stylesheet">

  </head>
    <body id="page-top">
        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="https://kode-with-klossy-nyc-ashleyrose00.c9users.io/"><img src="/../img/Crown-King-128 (4).png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading"><h1>Get a Lip Product</h1>
        <form method="POST" action="/results">
          <h3>Choose a Type of Lip Product</h2>
          <h5>Matte</h5>
          <input type="radio" name="lip_shade" value="Matte">
          <h5>Gloss</h5>
          <input type="radio" name="lip_shade" value="Gloss">
          <h5>Just some moisture please!</h5>
          <input type="radio" name="lip_shade" value="Just Some Moisture">
          <br>
          <input type="submit" value="Get Some Reccomendations">
        </form></h1>
            </div>
          </div>
        </div>
      </div>
    </header>

 
        </div>
      </div>
    </section>

      </div>
    </section>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>
        
        <!---->
    
    
      
    
    
    </body>
</html> 